body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0px;
  min-height: 100vh;
}


.header {
  display: flex;
  background-color: #1f2937;
  font-size: 18px;
  height: 55px;
  color: #f9faf8;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;

}

.logo {
  font-size: 24px;
  margin-right: 100px;
}

ul {
  display: flex;
  padding: 0px;
  gap: 10px;
  list-style: none;
  font-weight: lighter;
  justify-content: end;
}

.one  {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  color: #f9faf8;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 70px;
  padding-left: 15%;
  padding-right: 15%;
  align-items: center;
}

.one p {
  max-width: 400px;
}

.left-side {
  flex-direction: column;

}

.awesome {
  color: white;
  font-size: 48px; 
  font-weight: 900;  
  max-width: 350px;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 105px;
  height: 24px;
  background-color: #3882f6;
  border: none;
  border-radius: 7px;
  padding: 4px;
}

.right-side {
}

.two {
  display: flex;
  height: 440px;
  align-items: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  padding: 40px;
}

.box-main {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

.box-box {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.box {
  height: 170px;
  width: 170px;
  background-color: white;
  border: 4px solid #3882f6;
  border-radius: 15px; 
}

.three {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-content: center;
  background-color: #e5e7eb;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.big-quote {
  align-items: center;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 100;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: center;
}

.quote-credit {
  display: flex;
  color: #1f2937;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  margin-left: 45%;
  padding-right: 15%;
  margin-bottom: 15px;
}

.four{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  flex: 1;
}

.blue-box {
  display: flex;
  background-color: #3882f6;
  color: white;
  width: 800px;
  padding: 40px;
  padding-left: 80px;
  padding-right: 80px;
  gap: 100px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

}

.content {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.content p{
  margin: 5px;
  font-weight: 100;
}

.call {
  font-weight: 700;
  font-size: 24px;
}

.blue-box .sign-up {
  border: 1px solid white;
}

.footer {
  display: flex;
  background-color: #1f2937;
  color: white;
  font-size: 12px;
  padding: 2px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

a {
  text-decoration: none;
  color: #f9faf8;
}
