body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0px;
}

.header {
  display: flex;
  background-color: #1f2937;
  font-size: 30px;
  height: 55px;
  color: white;
  padding: 15px;
  padding-left: 100px;
  padding-right: 100px;
  gap: 200px;
}

.logo {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  font-weight: 100;
  font-size: 16px;
  justify-content: end;
  margin-left: auto;
  align-items: center ;
}
.one,
.two,
.three,
.four {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
 
}
.one {
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  background-color: #1f2937;
  color: white;
  gap: 10px;
  padding-top: 20px;
}

.left-side {
  justify-items: start;
  flex: 1;
}

.right-side {
  justify-items: end;
  margin-left: auto;
  flex: 1;
}

.one p {
  width: 400px;
  margin-right: 40px;
}

.one h1 {
  max-width: 70%;
}

.one img {
}

.two {
  display: flex;
  height: 300px;

}

.three {
  height: 200px;
}

.four{
  height: 500px;
}

.box-main {
  display: flex;
  height: 500px;
  width: 500px;
  gap: 20px;
}

.box {
  display: flex;
  height: 200px;
  width: 150px;
  background-color: white;
  border: 4px solid #3882f6;
}

.big-quote {
  background-color: #e5e7eb;
  font-size: 50px;
  font-style: italic;
}
.quote-credit {
  color: #1f2937;
  font-size: 30px;
  font-style: normal;
}

.footer{
  background-color: #1f2937;
  color: white;
  display: flex;
  flex: 1;
}

.links ul {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: end;
}

a {
  text-decoration: none;
}